@font-face {
    font-family: 'handwriting';
    src: url('fonts/journal-webfont.woff2') format('woff2'),
         url('fonts/journal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'typewriter';
    src: url('fonts/veteran_typewriter-webfont.woff2') format('woff2'),
         url('fonts/veteran_typewriter-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    background-image: url(background.jpg);
    background-size: cover;
    font : 1.5em "typewriter", monospace;
    margin: 0; 
}

.izquierda, .derecha {
    width: 100%; /* Ambos ocupan el 100% del ancho */
    height: 50vh; /* La mitad de la altura de la ventana */
    position: relative;
}

.pantalla_dividida {
    display: flex;
    flex-wrap: wrap; /* Permitir que los elementos se ajusten a una sola fila si es necesario */
}

.container{
    display: flex;
    flex-direction: column;
    width: 75%;
    background-color: rgba(0, 0, 0, 0.4);
	margin: auto auto;
	padding: 5%;
	border-radius: 5px;
	box-shadow: 0 0 10px #000;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 75%;
    color: #ffffff; 
    box-sizing: border-box;
}

.resultado {
    display: flex;
    flex-direction: column;
    width: 75%;
    background-color: rgba(0, 0, 0, 0.4);
	margin: auto auto;
	padding: 5%;
	border-radius: 5px;
	box-shadow: 0 0 10px #000;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 75%;
    color: #ffffff; 
    box-sizing: border-box;
}

.subtitulo{
    margin-bottom: 3%;
    margin-top: 3%;
}

select, input {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    border: none;
    padding: 3px;
    color: #ffffff;
    width: 100%; /* Ocupar todo el ancho disponible */
    box-sizing: border-box;
}

.boton{
    margin-bottom: 3%;
    margin-top: 10%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    border: none;
    padding: 6%;
    color: #ffffff;
    transition-duration: 0.4s;
    box-sizing: border-box;
}

.boton_descarga {
    position: relative;
    width: 100%;
    height: 100%;
}

.descarga {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    border: none;
    color: #ffffff;
    transition-duration: 0.4s;
    position: absolute;
    bottom: 2%;  
    right: 2%;
    padding: 10px;
    box-sizing: border-box;
}

.boton:hover, .descarga:hover {
    background-color: rgba(0, 0, 0, 1.4);

}

@media screen and (max-width: 768px) { /* Ajustes para dispositivos más grandes */
    .boton{
        margin-bottom: 3%;
        margin-top: 1%;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 6px;
        border: none;
        padding: 5px;
        color: #ffffff;
        transition-duration: 0.4s;
        box-sizing: border-box;
    }
    select, input {
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 6px;
        border: none;
        padding: 0px;
        color: #ffffff;
        width: 100%; /* Ocupar todo el ancho disponible */
        box-sizing: border-box;
    }
    .subtitulo{
        margin-bottom: 1%;
        margin-top: 1%;
    }
}

@media screen and (min-width: 768px) { /* Ajustes para dispositivos más grandes */
    .izquierda, .derecha {
        width: 50%; /* Ambos ocupan el 50% del ancho */
        height: 100vh; /* Volver a ocupar toda la altura */
    }
}

@media screen and (min-width: 1024px) { /* Ajustes para dispositivos aún más grandes */
    .container, .resultado {
        width: 75%; /* Ambos ocupan el 50% del ancho */
    }
}



